.myCss{
    font: normal 12px sans-serif;
    margin: auto;
    border-top: 4px red solid;   
    display: flex;
    width: 40%;
    justify-content: center;
    align-items:flex-start;
}
.lista{
    width: 80%;
}
.titlu{
    background-color: rgb(23, 219, 154);
    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.checkBox{
    cursor: copy;
}
.nck{
    padding: 3px;
    background-color: coral;
    text-align: left;
    margin: 4px;
}
.ck{
    padding: 3px;
    margin: 4px;
    text-align: left;
    background-color: gray;
    text-decoration: line-through;
}
.spanclass{
    background-color: red;
    color: white;
    font-weight: 800;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
}
.add_flex{
    border: 2px rebeccapurple solid;
    text-align: left;
    margin: 4px;
    height: 80px;
    width: 100%;
    padding-top: 10px; 
}
.child{
    display:block;
    width: 90%;
    margin: 3px;
    display: block;
    }
.child_l{
    background-color: tan;
    text-align: left;
    
}
.child_i{
    background-color: rgb(188, 231, 87);
    text-align: left;
    align-self: flex-end;
    width: 150px;
}
#add_button_id{
    cursor: pointer;
}
.errorClass{
    background:tan;
    color:black;
    text-align: center;
}
.noErrorClass{
    background: white;
    color: white;
}
.errorClassComp{
    color:black;
    background-color:rgb(255, 90, 0);
    

}