.myCss{
    font: normal 12px sans-serif;
    margin: auto;
    border-top: 4px red solid;   
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}
.titlu{
    background-color: rgb(23, 219, 154);
    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.nck{
    padding: 3px;
    background-color: coral;
    text-align: left;
    margin: 4px;
}
.ck{
    padding: 3px;
    margin: 4px;
    text-align: left;
    background-color: gray;
    text-decoration: line-through;
}
.spanclass{
    background: red;
    color: white;
    font-weight: 800;
    padding: 3px;
    border-radius: 50%;
}
.add_flex{
  
    border: 2px rebeccapurple solid;
    text-align: left;
    margin: 4px;
    height: 150px;

    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;

    }
.child{
    display:block;
    width: 100%;
    align-self: flex-start;
    }
.child_l{
    background-color: tan;
    text-align: left;
    
}
.child_i{
    background-color: rgb(188, 231, 87);
    text-align: left;
    align-self: flex-end;

}