
.item{
  background-color: chartreuse;  
  color: darkgreen;
  
  width: 40%;
  margin: auto;
  padding: 10px;
  
}
.myCss{
  
    text-align: center;
    font: normal 12px sans-serif;
    border-top: 4px red solid;
    
}
.lista{
    list-style-type: none;
}
.lista li:nth-child(even){
    background: gray;

}
.titlu{
    background-color: rgb(211, 200, 200);
    width: 40%;
    margin: auto;
    padding: 10px;
}